@model IEnumerable<MoviesLand.Models.Movie>



<div class="container">

    <br />
    <table id="movieForm" class="table table-hover ">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Title, "Details", new { movie.Id }, null)</td>
                    <td>@movie.NumberInStock</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<style>
    .table {
        margin: auto;
        width: 70%;
    }
</style>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movieForm").DataTable();

        })
    </script>
}
